.progress_container{
    position: relative;
    width: 80%;
    height: 40px;
    background: rgba(200, 200, 200, 0.4);
}
.progress_bar:hover{background: rgba(200, 200, 200, 0.6);}
.progress_bar{
    position: absolute;
    content: ' ';
    width: 0%;
    height: 100%;
    background: radial-gradient(circle at 95%, #08415C, #06A7DD);
}
@keyframes simple{
    0%{width: 0%;}
    100%{width: 100%;}
}

svg{
    width: 100%;
    height: 60%;
}
.deactivated{
    fill: #BBB;
}
.activated{
    fill: #E50C55;
}
line{
    stroke: #BBB;
    stroke-width: 3px;
}
line.deactivated{
    stroke: #f1f1f1;
    stroke-width: 3px;
}
line.activated{
    stroke: #E50C55;
    stroke-width: 5px;
}