.progress_container{
    position: relative;
    width: 80%;
    height: 40px;
    background: rgba(200, 200, 200, 0.4);
}
.progress_bar:hover{background: rgba(200, 200, 200, 0.6);}
.progress_bar{
    position: absolute;
    content: ' ';
    width: 0%;
    height: 100%;
    background: radial-gradient(circle at 95%, #08415C, #06A7DD);
}
@keyframes simple{
    0%{width: 0%;}
    100%{width: 100%;}
}