.progress_bar{
    position: relative;
    width: 80%;
    height: 2%;
    background: rgba(0, 0, 0, 0.4);
}
.progress_bar:hover{background: rgba(0, 0, 0, 0.6);}
.progress_bar::before{
    position: absolute;
    content: ' ';
    width: 0%;
    height: 100%;
    background: radial-gradient(circle at 95%, #08415C, #06A7DD);
    animation: simple 2.5s infinite linear;
}
@keyframes simple{
    0%{width: 0%;}
    100%{width: 100%;}
}